/* General Css*/

* {
    margin: 0;
    font-family: Montserrat;
}

i {
    font-size: 30px;
}

img {
    height: 250px;
    width: 250px;
    object-fit: cover;
}

/* ------------------------------------------------------ */

/* header  */

header {
    height: 100vh;
}

header h1, h2, h3 {
    text-align: center;
}

/* Navigation */

nav {
    margin-bottom: 250px;
    margin-top: 30px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 14px 20px;
    font-size: large;
}

nav a {
    padding: 14px 20px;
    color: black;
    text-decoration: none;
}

nav a:hover {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;

}

/* --------------------------------------------- */

.skill {
    height: 92%;
    width: 92%;
    margin-left: 4%;
    margin-top: 2%;
    margin-bottom: 28px;
    display: flex;
    flex-direction: row;
    background-color: rgb(99, 188, 188);
    border-radius: 40px;
    box-shadow: 0 5px 5px 0 rgb(95, 153, 176), 0 0 0 1px  rgb(99, 188, 188) ;

}

.frontend_development, .database {
    height: auto;
    width: 33%;
    margin-left: 0.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    border-color: rgb(122, 229, 243);
    border-width:  0 1px 0 0;
    border-style: solid;
}

.Graphics {
    height: auto;
    width: 33%;
    margin-left: 0.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.skills {
    height: 10%;
    width: 42%;
    background-color: #b6f5f5;
    color: rgb(33, 33, 97);
    font-size: large;
    align-content: center;
    text-align: center;
    margin: 1%;
    border-radius: 10px;
    font-weight: 500;
}

#contact {
    width: 100%;
    height: 500px;
}

#Projects h3 {
    text-align: center;
    padding-bottom: 30px;
}

#Projects {
    /* display: flex;
    flex-direction: row;   
    justify-content: space-around;  */
    height: 100vh;
    width: 100%;
    padding: 20px;
}

.thumbnail {
    border: 3px solid rgb(210, 231, 233);
    border-radius: 10px;
}

#projects div {
    color: aquamarine;
}

#contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top : 200px;
}

footer {
    height: 50vh;
    width: 100%;
    background-color: rgb(32, 31, 31);
    color: white;
}

/*

.database {
    height: 75%;
    width: 30%;
    background-color: maroon;
    margin-top: 1%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    border-radius: 5%;
}

.Graphics {
    height: 100%;
    width: 33%;
    background-color: purple;
    margin-right: 0.5%;
    border-radius: 5%;
}

*/ 